.header-app {
  &__container {
    display: flex;

    flex-direction: column;
    justify-content: center;
  }

  &__control-panel {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menue-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #ffff;
    z-index: 100;

    border-top: 1px solid #dbd2d2;
    border-bottom: 1px solid #dbd2d2;
    padding-top: 15px;
    padding-bottom: 15px;
    position: sticky;
    top: 0px;
    left: 0px;


  }

  &__menu-mobile {
    display: none;
  }
}

/* Media queries 800 px ----------------------------- */

@media (max-width: 800px) {
  .header-app {
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;

    z-index: 100;

    background-color: #f88b6a;
    align-items: center;
    justify-content: center;

    transition: all 0.5s;

    &__control-panel {
      display: none;
    }

    &__menue-panel {
      display: none;
    }

    &__menu-mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .no_display {
    transition: all 300ms;
    transform: translate(100%, 0px);
  }
}

/* Media queries 500 px ----------------------------- */

@media (max-width: 500px) {
  .header-app {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
