.header-app {
  &__menu {
    flex-grow: 1;
  }

  &__menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__menu-item {
    margin-right: 40px;
    font-size: 20px;
    font-weight: 600;
  }

  &__menu-item:last-child {
    margin-right: 0px;
  }

  &__link{
    text-transform: capitalize;
  }
}

/* Media queries 1000 px ----------------------------- */
@media (max-width: 1000px) {
  .header-app {
    &__menu-item {
      margin-right: 20px;
    }
  }
}

// Media Queries 800px ---------------------------------------

@media (max-width: 800px) {
  .header-app {
    &__menu-list {
      flex-direction: column;
    }

    &__menu-item {
      margin: 15px 0px;
    }
  }
}
