// General bloks style - gbs

.gbs__border {
  max-width: 1300px;
  width: 100%;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  height:  2000px;
}

// * {
//   outline: 1px solid #000;
// }