


// General bloks style - gbs

.gbs__border {
  max-width: 1300px;
  width: 100%;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}

.gbs__flc {
  display: flex;
  justify-content: center;
  align-items: center;
}

// General style

.f {
  display: flex;
}

.fc{
  display: flex;
  flex-direction: column;
}



// General color

.rc {
  color: red;
}

.brand_bg{
  background: #f1680d;
}