.bkgr__tra {
  background: transparent;
}

.bkgr__wh {
  background: #ffff;
}

.bkgr__wh-bl {
  background: #e1eded;
}

.bkgr__yel {
  background: yellow;
}

.bkgr__wh-gr {
  background: #f2ede7;
}

.bkgr__br-lt {
  background: #edebe9;
}

.bkgr__br-lt:hover {
  background: #e7ddd1;
}

.bkgr__br-lt-hov:hover {
  background: #e7ddd1;
}

.bkgr-col__orn-wh:hover {
  background: #ee7b49;
  color: white;
}
