// Image Panel ------------------------

.card-product__img {
  width: 90%;
  height: 100%;
  // object-fit: cover;
}

// Titel Panel ------------------------

// Ingredients Panel ------------------------

.extra-ingre__container {
  position: absolute;
  top: 52px;
  left: -1px;
  transition: height 300ms;
}

.extra-ingre__info-message {
  position: absolute;
  top: 10px;
  left: 5px;
}

// Size Panel ------------------------

.btn__active {
  background: #ee7b49;
  color: white;
}

// QuantityCostWeight Panel ------------------------
// BtnAddToCart ------------------------
