// Image Panel ------------------------

.card-product__img {
  width: 90%;
  height: 100%;
  // object-fit: cover;
}

// Titel Panel ------------------------

.card-product__titel {
}

// Ingredients Panel ------------------------

.extra-ingre__container {
  position: absolute;
  top: 41px;
  left: 0px;
  transition: height 300ms;

}

.extra-ingre__info-message {
  position: absolute;
  top: 10px;
  left: 5px;
}




// Size Panel ------------------------
// QuantityCostWeight Panel ------------------------
// BtnAddToCart ------------------------
