// FLEX ------------------------------------------------------------

.f {
  display: flex;
}

.f_jc {
  display: flex;
  justify-content: center;
}

.f_jc_sb {
  display: flex;
  justify-content: space-between;
}

.f_jc-ac {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f_ac {
  display: flex;
  align-items: center;
}

.fc {
  display: flex;
  flex-direction: column;
}

.fc_ac {
  display: flex;
  flex-direction: column;
  align-items: center;
}



// FLEX GAP -------------------------------------------
.fg15 {
  gap: 15px;
}

.fg10 {
  gap: 10px;
}

// FLEX GROW --------------------------------------------

.f__gro1 {
  flex-grow: 1;
}

// FLEX WRAP ---------------------

.f__wrap {
  flex-wrap: wrap;
}
