// FORM SIZE ------------------------------------------------------

.fwt {
  width: 375px;
}

// FORM TITEL ------------------------------------------------------

.ftit {
  font-size: 20px;
  font-weight: 600;
}

// FORM LABEL ------------------------------------------------------

.flab {
  padding-bottom: 5px;
}

// FORM INPUT ------------------------------------------------------

.finput {
  width: 345px;
  height: 50px;

  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;

  color: #555555;
  text-align: center;
  font-size: 20px;

  transition: border-color 150ms, box-shadow 150ms;
}

.finput::-webkit-outer-spin-button,
.finput::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.finput:focus,
.finput__focus:focus {
  outline: 2px solid rgb(65, 175, 243);
  box-shadow: 0px 0px 5px rgba(48, 166, 239);
}

// PASSWORD INPUT ----------------------------------------

.finput__pasword {
  border-right: 1px solid rgb(204, 204, 204);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  color: #555555;
  text-align: center;
  font-size: 20px;

  transition: border-color 150ms, box-shadow 150ms;
}

// FORM ERROR MESSEGE ------------------------------------------------------

.f__info-message {
  width: 345px;
  height: 40px;
  padding: 3px 15px;
  text-align: center;
  font-weight: 600;
  border: 1px solid #000;
}

// FORM BUTTONS ------------------------------------------------------

.fbtn {
  font-size: 16px;

  border-radius: 10px;
  padding: 10px 0px;
}

.fbtn__active {
  font-weight: 700;
  border: 1px solid #ffc600;
  background: linear-gradient(180deg, #ffed26 0%, #ffb400 100%);
  box-shadow: 1px 2px 20px 0px rgba(255, 153, 0, 0.4);
}

.fbtn__waiting {
  font-weight: 600;
  border: 1px solid #eee3bd;
  background: linear-gradient(180deg, #f0eaaa 0%, #ead6ac 100%);
  box-shadow: 1px 2px 20px 0px rgba(228, 215, 198, 0.4);
}

.fbtn__disable {
  border: 1px solid #eeebdf;
  background: linear-gradient(180deg, #dfdfd9 0%, #e2e0da 100%);
  box-shadow: 1px 2px 20px 0px rgba(224, 220, 214, 0.4);
}

.fbtn_text {
  font-size: 18px;
  font-weight: 600;
  background: transparent;
  color: #2787f4;
}
