.ht15 {
  height: 15px;
}

.ht18 {
  height: 18px;
}

.ht20 {
  height: 20px;
}

.ht25 {
  height: 25px;
}

.ht40 {
  height: 40px;
}

.ht50 {
  height: 50px;
}

.ht230 {
  height: 230px;
}

.ht270 {
  height: 270px;
}

.ht400 {
  height: 400px;
}
