.opa1 {
  opacity: 1;
}

.opa0 {
  opacity: 0;
}

// Z-INDEX ----------------------------------------------
.zindex0 {
  z-index: 0;
}

.zindex-100 {
  z-index: -100;
}

.zindex150 {
  z-index: 150;
}
