
.wt45{
  width: 45px;
}

.wt60{
  width: 60px;
}

.wt80{
  width: 80px;
}

.wt85{
  width: 85px;
}

.wt103{
  width: 103px;
}

.wt150 {
  width: 150px;
}

.wr155 {
  width: 155px;
}

.wt250 {
  width: 250px;
}

.wt300 {
  width: 300px;
}

.wt310 {
  width: 310px;
}

.wt345 {
  width: 345px;
}
