.wt100per {
  width: 100%;
}

.wt15 {
  width: 15px;
}

.wt18 {
  width: 18px;
}

.wt20 {
  width: 20px;
}

.wt25 {
  width: 25px;
}

.wt40 {
  width: 40px;
}

.wt45 {
  width: 45px;
}

.wt50 {
  width: 50px;
}

.wt60 {
  width: 60px;
}

.wt80 {
  width: 80px;
}

.wt85 {
  width: 85px;
}

.wt88 {
  width: 88px;
}

.wt100 {
  width: 100px;
}

.wt103 {
  width: 103px;
}

.wt110 {
  width: 110px;
}

.wt133 {
  width: 133px;
}

.wt150 {
  width: 150px;
}

.wt155 {
  width: 155px;
}

.wt200 {
  width: 200px;
}

.wt250 {
  width: 250px;
}

.wt260 {
  width: 260px;
}

.wt270 {
  width: 270px;
}

.wt300 {
  width: 300px;
}

.wt310 {
  width: 310px;
}

.wt345 {
  width: 345px;
}

.mwt600 {
  max-width: 600px;
}

.wt600 {
  width: 600px;
}
