.phone-call {
  &__container {
    align-items: center;
  }

  &__phone {
    font-size: 30px;
    font-weight: 700;
  }

  &__callme {
    margin-top: 10px;
    text-decoration: underline;
    font-weight: 700;
    color: red;
    letter-spacing: 1px;
  }
}

// Media queries 900 px -----------------------------

@media (max-width: 900px) {
  .phone-call {
    &__phone {
      font-size: 25px;
    }
  }
}

// Media queries 850 px -----------------------------

@media (max-width: 850px) {
  .phone-call {
    &__phone {
      font-size: 20px;
    }
  }
}
