/* Переменную использовать так background: var(--MainColor); */
:root {
  --MainColor: rgb(241, 104, 13);
}

.page_body_border {
  max-width: 1300px;
  width: 100%;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}

.color {
  color: red;
  background: var(--MainColor);
}
