.cart {
  &__qty {
    position: absolute;
    top: -5px;
    left: 23px;
  }
}

// Media queries 800 px ----------------------

@media (max-width: 800px) {
  .cart {
    &__container {
      margin: 20px 0px;
      padding: 10px 20px;
      width: initial;
      border: 1px solid #000;
      border-radius: 20px;
      background: #fbfbfb;
    }

    &__qty {
      top: 3px;
      left: 37px;
    }
  }
}
