.container {
  display: flex;
  justify-content: space-between;
}

.blockCvc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding-bottom: 5px;
}

.inputCvc {
  width: 70px;
}
