.extra-ingre__container {
  position: absolute;
  top: 52px;
  left: -1px;
  transition: height 300ms;
  overflow: auto;
}

.extra-ingre__container::-webkit-scrollbar {
  display: none;
}

.extra-ingre__info-message {
  position: absolute;
  top: 65px;
  left: 5px;
  z-index: 155;
}