.header-app {
  &__logo {
    display: block;
    width: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #e9a434;
    border-bottom: 3px solid #e9a434;
    padding: 3px;

    font-weight: 900;
    font-size: 16px;
    line-height: 110%;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &__food {
    color: red;
  }

  &__station {
    color: #5a7110;
  }
}

// Medium queries - 800px --------------------------


