.card-product__img {
  width: 90%;
  height: 100%;
}

.card-product__img-info {
  position: absolute;
  top: 30px;
  left: 10px;
}

.card-product__img-ingredients {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.695);
  opacity: 0;
  transition: opacity 300ms ease;
}

.card-product__img-ingredients:hover {
  opacity: 1;
  transition: opacity 300ms ease;
}

.card-product__img-pizza {
  transition: clip-path 1000ms ease;
  clip-path: circle(55% at 50% 50%);
}

.pizza-thin {
  clip-path: circle(40% at 50% 50%);
  transform: rotate(90deg);
}

.pizza-size26 {
  width: 200px;
  height: 200px;
  transition: all 1000ms ease;
}

.pizza-size30 {
  width: 215px;
  height: 215px;
  transition: all 1000ms ease;
}
.pizza-size40 {
  width: 230px;
  height: 230px;
  transition: all 1000ms ease;
}
