.header-app {
  &__mobile-logo {
    display: none;
  }
}

@media (max-width: 800px) {
  .header-app {
    &__mobile-logo {
      display: inline-block;
      width: 100px;
      height: 45px;
      background-color: aquamarine;
      border: 1px solid #000;
    }
  }
}
